#logo {
  height: 35px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar {
  background-color: lightblue;
}

.jumbotron {
  padding: 30px;
}

#footer {
  bottom: 0;
  margin-top: 30px
}

.media-object {
  width: 100px;
  height: 100px;
}