#logo {
  height: 35px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #253138;
}

h3 {
  color: #318DC3;
}

.btn-primary {
  background-color: #318DC3;
}

.btn-primary:hover {
  background-color: #253138;
}

.btn-default:hover {
  color: white;
  background-color: #253138;
}

nav a {
  color: #F0F9FF;
  background-color: #F0F9FF;
}

.navbar {
  background-color: #318DC3;
  border: none;
}

.jumbotron {
  padding: 30px;
  background-color: #F0F9FF;
}

.thumbnail {
  background-color: #F0F9FF;
}

.thumbnail img {
  object-fit: cover;
}

.thumbnail p {
  color: #253138;
}

#footer {
  background-color: #318DC3;
}

#footer a {
  color: #F0F9FF;
}

.footer-info {
  padding-top: 5px;
}

p.text-muted {
  margin-bottom: 0;
  color: #FFF;
}
