#logo {
  height: 35px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  padding: 20px;
  background-color: #253138;
}

/* same heading for jumbotron and posts*/
h3 {
  color: #318DC3;
}

/* website and github buttons*/
.btn-primary {
  background-color: #318DC3;
}

.btn-primary:hover {
  background-color: #253138;
}

.btn-default:hover {
  color: white;
  background-color: #253138;
}

/* navigation */
.navbar .navbar-brand {
  background-color: #F0F9FF;
}

.navbar .navbar-brand:hover {
  background-color: #F0F9FF;
}

.navbar-default .nav-links>li>a {
  color: #FFF;
}

.navbar {
  background-color: #318DC3;
  border: none;
}

/* intro section */
.jumbotron {
  padding: 30px;
  background-color: #F0F9FF;
}

/* project posts*/
.posts {
  background-color: #F0F9FF;
  padding: 20px;
  margin: 0px 0px 30px 0px;
}

.posts:hover {
  -webkit-box-shadow: 0px 0px 19px 7px rgba(119,119,119,1);
  -moz-box-shadow: 0px 0px 19px 7px rgba(119,119,119,1);
  box-shadow: 0px 0px 19px 7px rgba(119,119,119,1);
}

.clear-left {
  clear: left;
}

/* footer */
#footer {
  background-color: #318DC3;
  margin-bottom: 0;
}

#footer a {
color: #FFF;
}

.footer-info {
  padding-top: 5px;
}

/* footer copyright*/
p.text-muted {
  margin-bottom: 0;
  color: #FFF;
}

